{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    //for forms.CharField, exceptions don't seem to work atm
    "new-cap": 0,
    "no-multi-spaces": 0,
    "key-spacing": 0,
    "no-mixed-spaces-and-tabs": 0,
    "handle-callback-err": 0,
    "no-console": 0,
    "dot-notation": 0,
    "no-unused-vars": 0,
    "no-loop-func": 0,
    "no-path-concat": 0,
    "camelcase": 0,
    "no-trailing-spaces": 0,
    "no-underscore-dangle": 0,
    //"no-use-before-define": "nofunc",
    "curly": [2, "multi-line"],
    "quotes": [2, "single"],

  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "module":  true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "promise": true,
    "it": true
  }
}
